@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    background-color: #EAE7DC;
}

hr.rounded {
    border-radius: 5px;
    color: #cd7700;
    margin-bottom: 20px;
    margin-top: 20px;
}

body p {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    border: 0;
    font-size: 100%; 
    vertical-align: baseline;
}

p {
    text-align: left;
    color: #8E8D8A;
}

h1 {
    color: #4d3227;
    text-align: left;
}

h2 {
    color: #cd7700;
    text-align: left;
}

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.content {
    width: 40%;
    margin: auto;
}

.light {
    /*font-size: 70%;*/
    opacity: 65%;
}

.it {
    font-style: italic;
}

.def > * {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
}

.text > * {
    margin: 1em;
}