@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    background-color: #EAE7DC;
}

hr.rounded {
    /*
    border-radius: 5px;
    color: #cd7700;
    margin-bottom: 20px;
    margin-top: 20px;*/
    border-top: 5px solid #cd7700;
    border-radius: 1em;
    outline: none;
}

.form:visited {
    color: #8E8D8A; 
}
.form:hover {
    color: #8E8D8A;
}
.form:link {
    color: #8E8D8A;
}

body p {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    border: 0;
    font-size: 100%; 
    vertical-align: baseline;
}

p {
    color: #8E8D8A;
}

h1 {
    color: #4d3227;
    text-align: left;
}

h2 {
    color: #cd7700;
    text-align: left;
    margin-top: 1.5em;
}

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.content {
    width: 40%;
    margin: auto;
}

.light {
    /*font-size: 70%;*/
    opacity: 65%;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
}

.it {
    font-style: italic;
}

.def > * {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
}

.text > *:not(.light) {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0em;
    margin-bottom: 1em;
}

.timeline {
    border-left: thick solid #cd7700;
}

/*
.timeline p:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #cd7700;
    left: 30%;
    vertical-align: middle;
    border-radius: 30%;
}

.timeline:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: #cd7700;
    left: 30%;
    vertical-align: middle;
    border-radius: 30%;
}*/
