@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@font-face {
    font-family: "Kelsi";
    src: url(Kelsi-Regular.otf);
}
@font-face {
    font-family: "Kelsi-fill";
    src: url(Kelsi-fill.otf);
}

hr.rounded {
    /*
    border-radius: 5px;
    color: #cd7700;
    margin-bottom: 20px;
    margin-top: 20px;*/
    border-top: 5px solid #cd7700;
    border-radius: 1em;
    outline: none;
}

.form:visited {
    color: #8E8D8A; 
}
.form:hover {
    color: #8E8D8A;
}
.form:link {
    color: #8E8D8A;
}

body {
    background-color: #EAE7DC;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%; 
    vertical-align: baseline;
    color: #8E8D8A;
}

h1 {
    font-family: "Kelsi";
    color: #4d3227;
    text-align: left;
    font-size: 5em;
    margin-top: .2em;
    margin-bottom: .2em;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #cd7700;
    text-align: left;
    margin-top: 1.5em;
}

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.content {
    width: 40%;
    margin: auto;
}

.light {
    /*font-size: 70%;*/
    opacity: 65%;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
}

.mail {
    margin-left: .7em;
}

.it {
    font-style: italic;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 2em;
}

.def > *:not(.it) {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
}

.text > *:not(.light) {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0em;
    margin-bottom: 1em;
}

.timeline {
    border-left: thick solid #cd7700;
}

.foot {
    width: 100%;
    height: 1em;
    background-color: #cd7700;
    padding: 0;
    margin-top: 1.5em;
    bottom: 0;
}

.arrow {
    border: solid #8E8D8A;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/*
.timeline p:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #cd7700;
    left: 30%;
    vertical-align: middle;
    border-radius: 30%;
}

.timeline:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: #cd7700;
    left: 30%;
    vertical-align: middle;
    border-radius: 30%;
}*/
