<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{'/css/style.css' | url | safe}}">
  <title>Sunday Brunch</title>
</head>
<body>
  <div class="content">
    <h1>Sunday Brunch</h1>
    <p>Passive Networking</p>
    <p class="light">noun</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;1. engaging with new people in a casual enviroment</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;2. meeting people and having fun</p> 

    <h2>What's Next?</h2>
    <p>This is some sample text that I hope will overflow and nicely be formatted</p>
  </div>
</body>
</html>