<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{'/css/style.css' | url | safe}}">
  <link rel="icon" href="{{'/css/icon.png' | url | safe}}">
  <title>Munch - UIUC</title>
</head>
<body>
  <div class="content">
    <h1>MUNCH</h1>

    <div class="def">
      <p>Passive Networking</p>
      <p class="light">noun</p>
      <p class="it">1. engaging with others in a casual enviroment</p>
      <p class="it">2. meeting people and having fun : )</p> 
    </div>

    <h2>The Concept</h2>
    <div class="text timeline">
      <p>Munch is a weekly event at UIUC (for UIUC students only) that connects people looking to make friends and have a good time in a casual setting. 
        The application will group people based on general preferences in groups of 2-4 and give them a time to meet each other. Participants will receive their person/group the night before the event making for a fun surprise!</p>
      <p>No one is forced to participate, as students with an account will designate if they are available for the event on a week
        by week basis. 
      </p>
      <p>Examples of preferences include age (or grade), group size, and/or major. There are also options for hobbies which include
        general activies such as art, entrepeneurship, and music. There is also an option to meet in a group of 2 but both participants can
        bring a +1.
      </p>
    </div>

    <h2>The Timeline</h2>
      <div class="text timeline">
        <p class="light">Spring Semester 2023</p>
        <p>Market research, devlopment research, devlopment team recruiting</p>
        <p class="light">Summer 2023</p>
        <p>Application development, marketing team recruiting</p>
        <p class="light">Fall Semester 2023 Weeks 0-3</p>
        <p>Marketing period</p>
        <p class="light">Fall Semester 2023 Week 4</p>
        <p>Initial test with 25+ participants</p>
        <p class="light">Fall Semester 2023 Week 5</p>
        <p>Official first week launch</p>
      </div>

      <h2>Interest</h2>
      <div class="text">
        <p> Are you interested in this project? Do you want to be involved? Do you want to stay updated on the progress or be a part of with testing?
          If you answered "yes" to any of these questions, please fill out <a class="form" href="">this form</a> or feel free to contact me directly below. Thank you.
        <p><i class="arrow right"></i><a class="form mail" href="mailto:jamesonkoonce@gmail.com">jamesonkoonce@gmail.com</a></p>
      </div>
  </div>
   {# <div class="foot" /> #}
</body>
</html>