<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{'/css/style.css' | url | safe}}">
  <title>Sunday Brunch</title>
</head>
<body>
  <div class="content">
    <h1>Sunday Brunch</h1>

    <div class="def">
      <p>Passive Networking</p>
      <p class="light">noun</p>
      <p class="it">&nbsp;&nbsp;&nbsp;&nbsp;1. engaging with new people in a casual enviroment</p>
      <p class="it">&nbsp;&nbsp;&nbsp;&nbsp;2. meeting people and having fun : )</p> 
    </div>

    <h2>The Concept</h2>
    <div class="text">
      <p>Sunday Brunch is a weekly event at UIUC (for UIUC students only) that connects people looking to make friends and have a good time in a casual setting. 
        The service would group people based on general preferences in groups of 2-4 and give them a time to meet each other!</p>
      <p>No one is forced to participate, as students with an account would designate if they are available for the event on a week
        by week basis. Participants would receive their person/group the night before the event making a fun surprise!
      </p>
    </div>
    <h2>The Timeline</h2>
  </div>
</body>
</html>